<div class="container">
    <div class="row">
        <div class="col-lg-8"> 
            <img src="\images\seven.jpg" class = "img-fluid" alt="Voucher 1">
        </div>                                    
        <div class="col-lg-4 bg-secondary">
            <h1>Walkie Walkie!</h1>
            
            <div class = "m-5"></div>

            <p>Join the Clementi Elderlies Walkathon and
                Save 20% if joined as a group of 5!

                Walk till you drop!
            </p>

            <div class = "m-5"></div>
            
            <a href="/error"><button type="button" class = "btn btn-primary">Find out more about Voucher</button></a>
        </div>
    </div>
</div>