<div class="container">
    <div class="row">
        <div class="col-lg-8"> 
            <img src="\images\six.jpg" class = "img-fluid" alt="Voucher 1">
        </div>                                    
        <div class="col-lg-4 bg-secondary">
            <h1>Find your Chi with Tai Chi</h1>
            
            <div class = "m-5"></div>

            <p>Join the Ayer Rajah Tai Chi program
                Save 20% if joined as a group of 5!

                Tai Chi your way to Youth!
            </p>

            <div class = "m-5"></div>
            
            <a href="/error"><button type="button" class = "btn btn-primary">Find out more about Voucher</button></a>
        </div>
    </div>
</div>