<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <% include partials/bootstrap.ejs %>

  <link  rel="stylesheet "type="text/css" href="/style/style.css" />

  <title>OpenJio</title>
</head>
<body>
  <!--Navigation-->
  <% include partials/navBars/defaultNav.ejs %>

  <!--Spacing-->
  <div class = "m-5"></div>
  <div class="container">
        <div id="titlebar">
        <div id="Title" >
          <h1>MAHHHHHHHHHHHHHJONGGGGGGGGGGGGGGGGGGG</h1>
          </div>
          </div>
          <div class="break">
          </div>

                <div class="pic-holder">
                  <img src="\images\eight.jpeg" class = "img-1" alt="Voucher 1">
                </div>
              <div id=details>

                <p id="Venue">
                  YOUR HOUSE
                </p>
                <p id="Date">
                  23-3-2019
                </p>
                <p id="time">
                  Tiger Time
                </p>
              </div>

          <div class="break">
          </div>
          <div class="realDetails-border">
          </div>
          <div id="realDetails">
            <h2>Details</h2>
            This is some mahjong shiz. You betta bring some cash or you aint playing. Huat Huat Huat
          </div>
        </div>
          <div class="break">
          </div>

<!--
<div class="btn-container">
          <div id="button-group">
            <button type="button" class="btn btn-primary ">Join</button>
            <button type="button" class="btn btn-primary ">No Join</button>
          </div>
</div>
-->
  <div class = "m-5"></div>

<div class="d-flex justify-content-around">
  <a href="/createFromVoucher"> <button type="button" class = "btn-event btn-primary btn-lg ">  JOIN </button> </a>
  <a href= "/join"> <button type="button" class = "btn-event btn-primary btn-lg " >  NO JOIN   </button> </a>
</div>
</div>
  <div class = "m-5"></div>



    </div>

  </body>
