<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <% include partials/bootstrap.ejs %>
    <title>Join</title>
</head>
<body>
    <!--Navigation-->
    <% include partials/navBars/defaultNav.ejs %>
      
    <!--Spacing-->
    <div class = "m-5"></div>
    
    <div class="container"> 
        
        <!--event 1-->
        <% include partials/events/event1.ejs %>

        <!--Spacing-->
        <div class = "m-5"></div>

        <!--event 2-->
        <% include partials/events/event2.ejs %>  
        
        <!--Spacing-->
        <div class = "m-5"></div>

        <!--event 3-->
        <% include partials/events/event3.ejs %>

        <!--Spacing-->
        <div class = "m-5"></div>

        <div class="row justify-content-center">
            <a href="createFromScratch"> <button type="button" class = "btn btn-lg btn-primary">Create your own event</button> </a>
        </div>

        <div class = "m-5"></div>

    </div>
</body>
</html>