<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <% include partials/bootstrap.ejs %>
        
        <title>OpenJio</title>
    </head>
<body>
    <!--Navigation-->
    <% include partials/navBars/loginNav.ejs %>
      
    <!--Spacing-->
    <div class = "m-5"></div>

    <!--Page-->
    <div class="container">
        <div class= "row">
            <div class="col-8">
                <div class="container">
                    <h4 class="text-center">Register</h4>
                    <div class = "m-5"></div>
                    <form class="form" action="#" method="POST">
                        
                        <div class = "container">
                            <div class="row">
                                <div class = "col-4">
                                    <p class="text-right align-middle">Name:</p>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="ChillV">
                                    </div> 
                                </div>    
                            </div>    
                        </div>
                        <div class = "container">
                                <div class="row">
                                    <div class = "col-4">
                                        <p class="text-right align-middle">Password:</p>
                                    </div>
                                    <div class="col-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="cry1040">
                                        </div> 
                                    </div>    
                                </div>    
                            </div>
                            <div class = "container">
                                    <div class="row">
                                        <div class = "col-4">
                                            <p class="text-right align-middle">Email:</p>
                                        </div>
                                        <div class="col-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="chillv@email.com">
                                            </div> 
                                        </div>    
                                    </div>    
                                </div>
                                <div class = "m-5"></div>
                            
                             <a href="/homeUser" style="float:right;"> <button type="button" class = "btn btn-lg btn-primary">Log In</button> </a>
                            
                    </form>  
                </div>
            </div>
        </div>       
    </div>
</body>
</html>
      