<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/"><strong>OpenJio</strong></a>
            
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            <form class="form-inline">
              <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Username</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="ChillVibes">
              </div>
              
                <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Password</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="********">
                </div>
              
                <div class="form-check mb-2 mr-sm-2">
                  <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                  <label class="form-check-label" for="inlineFormCheck" style="color:aliceblue">
                    Remember me
                  </label>
                </div>
              
                <a href="/homeUser"> <button type="button" class = "btn btn-lg btn-primary">Submit</button> </a>
              </form>      
        </div>
    </div> 
</nav>