<div class="container">
        <div class="row">
            <div class="col-lg-8"> 
                <img src="\images\nine.jpg" class = "img-fluid" alt="Voucher 1">
            </div>                                    
            <div class="col-lg-4 bg-secondary">
                <h1>Time to Par-Teh</h1>
                
                <div class = "m-5"></div>
    
                <p>Join for Teh and Snacks while we 
                    indulge in conversations about life!
                    
                </p>
    
                <div class = "m-5"></div>
                
                <a href="/error"><button type="button" class = "btn btn-primary">Find out more about Event</button></a>
            </div>
        </div>
    </div>